<!DOCTYPE HTML>

<html>
	<head>
		<title>Pitchy-Pitches</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body id="top">
			<section id="banner" data-video="images/banner">
				<div class="inner">
					
{% extends 'auth/auth_base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<body background="{{ url_for('static', filename='photos/black.jpeg') }}" style="background-repeat: no-repeat; background-size: 100%"></body>
<div class="container">
<div class="row">
<div class="col-md-2"> </div>
<div class="col-md-8">
		<header>
				<h3>Sign Up page</h3><br><br>
			
			</header>
{{wtf.quick_form(registration_form)}}
<br><br>
<p>Don't want an account?   <a href="/"class="button style3 fit">Home</a></p>
</div>

</div>
</body>
{% endblock%}