{% block content %}
<div class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
          <a href="/" class="w3-bar-item w3-button w3-wide">DeeBlog</a>
          <!-- Right-sided navbar links -->
          <div class="w3-right w3-hide-small">
                {% if current_user.is_authenticated %}
                <a href="{{url_for('auth.logout')}}" class="w3-bar-item w3-button"><i class="fa fa-th"></i>SIGN OUT</a>
                {%else%}
            <a href="{{url_for('auth.login')}}" class="w3-bar-item w3-button"><i class="fa fa-th"></i>SIGN IN</a>
            {%endif%}
            <a href="{{url_for('main.blog')}}" class="w3-bar-item w3-button"><i class="fa fa-book"></i> BLOGS</a>
            {% if current_user.is_authenticated %}
            <a href="{{url_for('main.profile',uname = current_user.username)}}" class="w3-bar-item w3-button"><i class="fa fa-user"></i> PROFILE</a>
            {%else%}
            <a href="{{url_for('auth.login')}}" class="w3-bar-item w3-button"><i class="fa fa-user"></i>PROFILE</a>
            {%endif%}
            {% if current_user.is_authenticated %}
            <a href="{{url_for('main.new_blog', uname = current_user.username)}}" class="w3-bar-item w3-button"><i class="fa fa-pen"></i> WRITE</a>
            {%else%}
            <a href="{{url_for('auth.login')}}" class="w3-bar-item w3-button"><i class="fa fa-pen"></i>WRITE</a>
            {%endif%}
            <a href="{{url_for('main.subscribe')}}" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i>SUBSCRIBE</a>
            
            <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> ABOUT</a>
          </div>
        
          </a>
        </div>
      </div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<body >
				
					<div class="w3-row" >
                        <div class="w3-col l8 s16" style="margin-top:45px;">
                            <div class="w3-card-4 w3-margin w3-white">
                                    <div class="w3-container"> 
                                            <h2 class="w3-center">BlogPosts</h2> 
                                    </div>
                                    <div class="w3-row-padding w3-padding-64 w3-container">
                                            {% if posts %}
                                            <div class="w3-content">
                                                {% for row in posts | batch(2) %}
                                              <div class="w3-twothird">
                                                {% for post in row %}
                                                    <h2><strong><i>{{post.title | upper}}</i></strong></h2>
                                                    {% if current_user.is_authenticated %}
                                                    <p>Poster: <a href="{{url_for('main.profile', uname = post.user.username)}}">{{post.user.username | upper}}</a></p>
                                                    {%else%}
                                                    <p>Poster: <a href="{{url_for('main.writer_profile', uname = post.user.username)}}">{{post.user.username | upper}}</a></p>
                                                    {%endif%}
                                                    <p><strong>Blog-Post: </strong><br><br> {{post.body[0:100] + "......"}}
                                            <a href="{{url_for('main.read_post',post_id = post.id)}}" class="button fit">Read more</a></p>
                                            {% if current_user.is_authenticated%}
                                            <a href="{{url_for('main.profile',uname = post.user.username)}}" class="w3-button w3-padding-large w3-red w3-border">Delete</a>
                                            <a href="{{url_for('main.profile',uname = post.user.username)}}" class="w3-button w3-padding-large w3-green w3-border">Update</a>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                        {% endif %}
                                        </div>
                                        
                                    
                            </div>  
                        </div>
                    </div>
                    </body>
{% endblock %}